<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <form>
    <ion-item lines="full" color="dark">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row> 
      <ion-col>
        <ion-button type="submit" expand="block" color="tertiary" (click)="login()"><ion-icon name="log-in-outline"></ion-icon> SUBMIT </ion-button>
      </ion-col>
    </ion-row>

    <small>
      <center>
      Please provide the username or email address that you used when you signed up.
    </center>
    </small>
  </form>
</ion-content>
